server:
  port: 8080
  shutdown: graceful

spring:
  application:
    name: ai-rag-orchestrator


  # ==============================================================
  # ORACLE DATABASE CONFIGURATION
  # ==============================================================
  datasource:
    url: jdbc:oracle:thin:@//${DB_HOST:localhost}:1521/${DB_SERVICE:XE}
    username: ${DB_USER:autoflow}
    password: ${DB_PASS:autoflow123}
    driver-class-name: oracle.jdbc.OracleDriver
##    hikari:
##      maximum-pool-size: 20
##      minimum-idle: 5
##      connection-timeout: 30000
##      # Oracle Validation Query
##      connection-test-query: SELECT 1 FROM DUAL
#
  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: validate # Use 'update' in development, # Use 'validate' in production
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        format_sql: true

# ==============================================================
# CUSTOM APP PROPERTIES
# ==============================================================
app:
  workspace-dir: ${WORKSPACE_DIR:/tmp/ai-orchestrator-workspace}
  git:
    default-prefix: "feature/"
    prefixes:
      "Story": "feature/"
      "Bug": "bugfix/"
  jira:
    base-url: https://${JIRA_DOMAIN}.atlassian.net
    username: ${JIRA_USER}
    token: ${JIRA_TOKEN}
    fields:
      repo-name-field-id: customfield_10141
      repo-url-field-id: customfield_10142
      base-branch-field-id: customfield_10144
      acceptance-criteria-field-id: customfield_10143

  bitbucket:
    base-url: https://api.bitbucket.org/2.0
    workspace: ${BITBUCKET_WORKSPACE}
    username: ${BITBUCKET_USER}
    app-password: ${BITBUCKET_PASS}
    api-username: ${BITBUCKET_API_USER}

  gemini:
    api-key: ${GEMINI_KEY}
    chat-model: gemini-flash-latest
    embedding-model: text-embedding-004

  pinecone:
    api-key: ${PINECONE_KEY}
    index-name: ${PINECONE_INDEX}


# ==============================================================
# NEO4J SPRING PROPERTIES
# ==============================================================
neo4j:
  uri: ${NEO4J_URI:bolt://localhost:7687}
  authentication:
    username: ${NEO4J_USER:neo4j}
    password: ${NEO4J_PASSWORD:password}

logging:
  level:
    root: INFO
    com.purchasingpower.autoflow: DEBUG
    com.purchasingpower.autoflow.workflow.agents: DEBUG
    org.bsc.langgraph4j: DEBUG